<div style="width: 38.5%;">
    <p><strong>City College of San Francisco</strong><p>
    <hr>
    <p>MATH 108 - Foundations of Data Science</p>
</div>

# Lecture 06: Tables

Associated Textbook Sections: [3.4](https://inferentialthinking.com/chapters/03/4/Introduction_to_Tables.html)

---

## Overview

* [Tables](#Tables)
* [Table Properties](#Table-Properties)
* [Some Table Functions](#Some-Table-Functions)

---

## Set Up the Notebook

In [1]:
from datascience import *
import numpy as np

---

## Tables

---

### Early Beginnings

<a href="https://academic.oup.com/book/4975/chapter-abstract/147431903" title="Tables and tabular formatting in Sumer, Babylonia, and Assyria, 2500 bce–50 ce"><img src="./Shuruppag_data_table.jpeg" alt="The world’s oldest datable mathematical table, from Shuruppag, c. 2600 BCE.  The first two columns contain identical lengths in descending order from 600 to 60 rods (c. 3600–360 m) and the final column contains the square area of their product" width=40%></a>

Ancient Mesopotamia (modern-day Iraq):
* Sumer, Babylonia, and Assyria had clay tablets from around 2600-1600 BCE that provide examples of some of the earliest recorded numerical tables
* The tablets demonstrate their proficiency in recording mathematical and astronomical data

The image above shows the world's oldest dateable mathematical table (on record), from the Sumerian city of Shuruppag, c. 2600 BCE.  The first two columns contain identical lengths in descending order from 600 to 60 rods (c. 3600-360 m) and the final column contains the square area of their product

---

### Table Structure

* The `datascience` library contains a data type called a `Table`.
* A `Table` is a sequence of labeled columns
* Each row represents one individual
* Data within a column represents one attribute of the individuals

<img src="./table_structure.png" alt="A table with the columns and rows indicated." width=50%>

---

### Loading Data

* Data analysis usually includes connecting to various data sources
* We focus on loading data from CSV files
    * Comma Separated Values
    * `.csv` extension
* The `Table.read_table` function will load the contents of a CSV into the notebook as a `Table`.

---

### Demo: Loading Data

<a href="https://upload.wikimedia.org/wikipedia/commons/b/bb/US_States_by_Total_Area.svg" title="US States by Total Area"><img src="US_States_by_Total_Area.svg" alt="US states by area" width=40%></a>

Import data in `states_area.csv` that contains land and water area data sourced form [Wikipedia](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area).

In [2]:
states = Table.read_table('states_area.csv') # SOLUTION
states

State      | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 665384             | 570641            | 94743.1
Texas      | 268596             | 261232            | 7364.75
California | 163695             | 155779            | 7915.52
Montana    | 147040             | 145546            | 1493.91
New Mexico | 121590             | 121298            | 292.15
Arizona    | 113990             | 113594            | 396.22
Nevada     | 110572             | 109781            | 790.65
Colorado   | 104094             | 103642            | 451.78
Oregon     | 98378.5            | 95988             | 2390.53
Wyoming    | 97813              | 97093.1           | 719.87
... (40 rows omitted)

In [3]:
type(states)

datascience.tables.Table

---

## Attributes and Properties

A `Table` has information that we can access by command. For example:
* `t.labels` - the labels of a table called `t`
* `t.num_columns` - the number of columns in `t`
* `t.num_rows` - the number of rows in `t`
* `t.rows` - a collection of all the rows in `t`

---

### Demo: Attributes and Properties

There are various attributes of a table that you can access as well using the dot notation such as `labels`, `num_columns`, and `num_rows`.

In [4]:
states.labels # SOLUTION

('State', 'Total Area (sq mi)', 'Land Area (sq mi)', 'Water Area (sq mi)')

In [5]:
states.num_columns # SOLUTION

4

In [6]:
states.num_rows # SOLUTION

50

In [7]:
states.rows # SOLUTION

Rows(State      | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 665384             | 570641            | 94743.1
Texas      | 268596             | 261232            | 7364.75
California | 163695             | 155779            | 7915.52
Montana    | 147040             | 145546            | 1493.91
New Mexico | 121590             | 121298            | 292.15
Arizona    | 113990             | 113594            | 396.22
Nevada     | 110572             | 109781            | 790.65
Colorado   | 104094             | 103642            | 451.78
Oregon     | 98378.5            | 95988             | 2390.53
Wyoming    | 97813              | 97093.1           | 719.87
... (40 rows omitted))

---

## Some Table Methods

There is a collection of methods (functions) associated with every `Table` created. For example:
* `t.show(n)` - displays the first `n` rows of a table called `t`
* `t.select(label)` - constructs a new table with just the specified columns
* `t.drop(label)` - constructs a new table in which the specified columns are omitted
* `t.sort(label)` - constructs a new table with rows sorted by the specified column
* `t.where(label, condition)` - constructs a new table with just the rows that match the condition
    * Initially, the `condition` will be made up using Predicates such as `are.above`, `are.equal_to`, etc. 
* More can be found in the [`datascience` documentation](https://datascience.readthedocs.io/en/master/tables.html)

---

### Demo: `show`

Explore the `show` table method.

In [8]:
states.show() # SOLUTION

In [9]:
states.show(3) # SOLUTION

In [10]:
# show(3) does not produce a Table
states_show_3 = states.show(3) # SOLUTION
type(states_show_3)

NoneType

---

### Demo: `select`

Use the `select` table method to select columns by column labels and column indexes.

In [11]:
states.select('State', 'Total Area (sq mi)') # SOLUTION

State      | Total Area (sq mi)
Alaska     | 665384
Texas      | 268596
California | 163695
Montana    | 147040
New Mexico | 121590
Arizona    | 113990
Nevada     | 110572
Colorado   | 104094
Oregon     | 98378.5
Wyoming    | 97813
... (40 rows omitted)

In [12]:
states.select(0, 1) # SOLUTION

State      | Total Area (sq mi)
Alaska     | 665384
Texas      | 268596
California | 163695
Montana    | 147040
New Mexico | 121590
Arizona    | 113990
Nevada     | 110572
Colorado   | 104094
Oregon     | 98378.5
Wyoming    | 97813
... (40 rows omitted)

In [13]:
# A NameError where the column name was used incorrectly.
# states.select(State, 'Total Area (sq mi)')

In [14]:
# A ValueError where the column name was used incorrectly.
# states.select('State', 'Total Area')

---

### Demo: `drop`

Use the `drop` table method to drop columns by name and by index.

In [15]:
states.drop('Total Area (sq mi)') # SOLUTION

State      | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 570641            | 94743.1
Texas      | 261232            | 7364.75
California | 155779            | 7915.52
Montana    | 145546            | 1493.91
New Mexico | 121298            | 292.15
Arizona    | 113594            | 396.22
Nevada     | 109781            | 790.65
Colorado   | 103642            | 451.78
Oregon     | 95988             | 2390.53
Wyoming    | 97093.1           | 719.87
... (40 rows omitted)

In [16]:
states.drop(1) # SOLUTION

State      | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 570641            | 94743.1
Texas      | 261232            | 7364.75
California | 155779            | 7915.52
Montana    | 145546            | 1493.91
New Mexico | 121298            | 292.15
Arizona    | 113594            | 396.22
Nevada     | 109781            | 790.65
Colorado   | 103642            | 451.78
Oregon     | 95988             | 2390.53
Wyoming    | 97093.1           | 719.87
... (40 rows omitted)

---

### Demo: `sort`

Use the `sort` table method to sort the data in the table by a certain column.

In [17]:
states.sort('State') # SOLUTION

State       | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Alabama     | 52420.1            | 50645.3           | 1774.74
Alaska      | 665384             | 570641            | 94743.1
Arizona     | 113990             | 113594            | 396.22
Arkansas    | 53178.6            | 52035.5           | 1143.07
California  | 163695             | 155779            | 7915.52
Colorado    | 104094             | 103642            | 451.78
Connecticut | 5543.41            | 4842.36           | 701.06
Delaware    | 2488.72            | 1948.54           | 540.18
Florida     | 65757.7            | 53624.8           | 12132.9
Georgia     | 59425.2            | 57513.5           | 1911.66
... (40 rows omitted)

In [18]:
states.sort('State', descending=True) # SOLUTION

State         | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Wyoming       | 97813              | 97093.1           | 719.87
Wisconsin     | 65496.4            | 54157.8           | 11338.6
West Virginia | 24230              | 24038.2           | 191.83
Washington    | 71297.9            | 66455.5           | 4842.43
Virginia      | 42774.9            | 39490.1           | 3284.84
Vermont       | 9616.36            | 9216.66           | 399.71
Utah          | 84896.9            | 82169.6           | 2727.26
Texas         | 268596             | 261232            | 7364.75
Tennessee     | 42144.2            | 41234.9           | 909.36
South Dakota  | 77115.7            | 75811             | 1304.68
... (40 rows omitted)

In [19]:
states.sort('State', True) # SOLUTION

State         | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Wyoming       | 97813              | 97093.1           | 719.87
Wisconsin     | 65496.4            | 54157.8           | 11338.6
West Virginia | 24230              | 24038.2           | 191.83
Washington    | 71297.9            | 66455.5           | 4842.43
Virginia      | 42774.9            | 39490.1           | 3284.84
Vermont       | 9616.36            | 9216.66           | 399.71
Utah          | 84896.9            | 82169.6           | 2727.26
Texas         | 268596             | 261232            | 7364.75
Tennessee     | 42144.2            | 41234.9           | 909.36
South Dakota  | 77115.7            | 75811             | 1304.68
... (40 rows omitted)

In [20]:
states.sort('Total Area (sq mi)', True) # SOLUTION

State      | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 665384             | 570641            | 94743.1
Texas      | 268596             | 261232            | 7364.75
California | 163695             | 155779            | 7915.52
Montana    | 147040             | 145546            | 1493.91
New Mexico | 121590             | 121298            | 292.15
Arizona    | 113990             | 113594            | 396.22
Nevada     | 110572             | 109781            | 790.65
Colorado   | 104094             | 103642            | 451.78
Oregon     | 98378.5            | 95988             | 2390.53
Wyoming    | 97813              | 97093.1           | 719.87
... (40 rows omitted)

---

### Demo: `where`

Use the `where` table method to filter the data in the table.

In [21]:
# Nothing Filtered
states.where('State') # SOLUTION

State      | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 665384             | 570641            | 94743.1
Texas      | 268596             | 261232            | 7364.75
California | 163695             | 155779            | 7915.52
Montana    | 147040             | 145546            | 1493.91
New Mexico | 121590             | 121298            | 292.15
Arizona    | 113990             | 113594            | 396.22
Nevada     | 110572             | 109781            | 790.65
Colorado   | 104094             | 103642            | 451.78
Oregon     | 98378.5            | 95988             | 2390.53
Wyoming    | 97813              | 97093.1           | 719.87
... (40 rows omitted)

In [22]:
states.where('State', are.equal_to('California')) # SOLUTION

State      | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
California | 163695             | 155779            | 7915.52

In [23]:
states.where('Land Area (sq mi)', are.above(100_000)) # SOLUTION

State      | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
Alaska     | 665384             | 570641            | 94743.1
Texas      | 268596             | 261232            | 7364.75
California | 163695             | 155779            | 7915.52
Montana    | 147040             | 145546            | 1493.91
New Mexico | 121590             | 121298            | 292.15
Arizona    | 113990             | 113594            | 396.22
Nevada     | 110572             | 109781            | 790.65
Colorado   | 104094             | 103642            | 451.78

In [24]:
states.where('State', are.containing('New')) # SOLUTION

State         | Total Area (sq mi) | Land Area (sq mi) | Water Area (sq mi)
New Mexico    | 121590             | 121298            | 292.15
New York      | 54555              | 47126.4           | 7428.58
New Hampshire | 9349.16            | 8952.65           | 396.51
New Jersey    | 8722.58            | 7354.22           | 1368.36

<footer>
    <hr>
    <p>Adopted from UC Berkeley DATA 8 course materials.</p>
    <p>This content is offered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution Non-Commercial Share Alike</a> license.</p>
</footer>